# This file contains common pin mappings for RAMPS (v1.3 and later)
# boards. RAMPS boards typically use a firmware compiled for the AVR
# atmega2560 (though the atmega1280 is also possible).

# See docs/Config_Reference.md for a description of parameters.

[gcode_arcs]
resolution: 0.25

[extruder]
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB4
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PK5
min_temp: 0
max_temp: 305

[heater_bed]
heater_pin: PH5
sensor_type: Generic 3950
sensor_pin: PK6
control: pid
pid_Kp:58.744 
pid_Ki:0.919 
pid_Kd:938.442
min_temp: 0
max_temp: 125

# Part Cooling Fan
[fan]
pin: PH6

#Security part

[verify_heater extruder]
max_error: 45
hysteresis: 15

[verify_heater heater_bed]
max_error: 120
#max_error: 360
# customizable to 360 if it give problems at 100+ °C on Prusa MK2
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
heating_gain: 2
# customizable to 1 if it give problems at 100+ °C on Prusa MK2
# heating_gain: 1
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

# These are only safeguards for first time users.
# Modify printer.cfg to tune acceleration.
[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 4000
max_z_velocity: 12
max_z_accel: 200

[safe_z_home]
home_xy_position:11.5,4
speed: 50.0
z_hop: 3
z_hop_speed: 15.0
move_to_previous: False

# Common EXP1 / EXP2 (display) pins
[board_pins]
aliases:
    # Common EXP1 header found on many "all-in-one" ramps clones
    EXP1_1=PC0, EXP1_3=PH0, EXP1_5=PA1, EXP1_7=PA5, EXP1_9=<GND>,
    EXP1_2=PC2, EXP1_4=PH1, EXP1_6=PA3, EXP1_8=PA7, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB3, EXP2_3=PC6, EXP2_5=PC4, EXP2_7=PL0, EXP2_9=<GND>,
    EXP2_2=PB1, EXP2_4=PB0, EXP2_6=PB2, EXP2_8=PG0, EXP2_10=<RST>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi"
    # Note, some boards wire: EXP2_8=<RST>, EXP2_10=PG0

# See the sample-lcd.cfg file for definitions of common LCD displays.

[filament_switch_sensor fsensor]
pause_on_runout: True
runout_gcode:
    M118 Filament Runout Detected
    M600
insert_gcode:
    M118 Filament Load Detected
    LOAD_FILAMENT
event_delay: 3.0
pause_delay: 0.01
switch_pin: !PE3

# Tools

[display_status]

[pause_resume]

[force_move]
enable_force_move: True
